########################################################################
# This file defines which file types are to be ignroed and skipped by  #
# git so that they are not transferred and committed.                  #
#                                                                      #
# Date       Author                        Comments                    #
# ========== ============================= =========================== #
# 2020-05-31 https://github.com/SV-Zanshin Ignore for authentication   #
#                                                                      #
########################################################################
Authentication.h
